/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* LOADER */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100000000000;
}

.loader-wrapper img {
  display: block;
  width: 200px;
  position: relative;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.center {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

input:disabled,
select:disabled {
  background-color: #666 !important;
}

input[type="checkbox"] {
  vertical-align: middle;
  outline: none;
  font-size: inherit;
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
  background: white;
  border-radius: 0.25em;
  border: 0.125em solid #555;
}

.disabled {
  filter: brightness(75%);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

.table,
.table thead {
  width: 100% !important;
  border-collapse: collapse !important;
  vertical-align: middle;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  border-bottom: 1px solid transparent;
}

.text-green-100 {
  color: #ebfbee !important;
}

.text-green-200 {
  color: #d3f9d8 !important;
}

.text-green-300 {
  color: #b2f2bb !important;
}

.text-green-400 {
  color: #8ce99a !important;
}

.text-green-500 {
  color: #69db7c !important;
}

.text-green-600 {
  color: #51cf66 !important;
}

.text-green-700 {
  color: #40c057 !important;
}

.text-green-800 {
  color: #37b24d !important;
}

.text-green-900 {
  color: #2f9e44 !important;
}

.text-red-100 {
  color: #fff5f5 !important;
}

.text-red-200 {
  color: #ffe3e3 !important;
}

.text-red-300 {
  color: #ffc9c9 !important;
}

.text-red-400 {
  color: #ffa8a8 !important;
}

.text-red-500 {
  color: #ff8787 !important;
}

.text-red-600 {
  color: #ff6b6b !important;
}

.text-red-700 {
  color: #fa5252 !important;
}

.text-red-800 {
  color: #f03e3e !important;
}

.text-red-900 {
  color: #e03131 !important;
}

.text-ocean-100 {
  color: #5fa9a8;
}

.text-ocean-200 {
  color: #4b9e9d;
}

.text-ocean-300 {
  color: #379392;
}

.text-ocean-400 {
  color: #328483;
}

.text-ocean-500 {
  color: #2c7675;
}

.text-ocean-600 {
  color: #276766;
}

.text-ocean-700 {
  color: #215858;
}

.text-ocean-800 {
  color: #1c4a49;
}

.text-ocean-900 {
  color: #163b3a;
}

.clipping {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.btn-hover {
  filter: brightness(100%);
  transition: all 0.3s;
}

.btn-hover:hover {
  filter: brightness(85%);
}